NODE_ENV=development
# NODE_ENV=production
# For Production

# Frontend URLs
NEXT_PUBLIC_LOCAL_FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_SERVER_FRONTEND_URL=

# Backend URLs
NEXT_PUBLIC_BACKEND_LOCAL_URL=http://localhost:5001/api
NEXT_PUBLIC_BACKEND_SERVER_URL=