# Server
SERVER_PORT=5000
NODE_ENV=development
# NODE_ENV=production
# For Production

# Frontend / Backend URLs
FRONTEND_LOCAL_URL=http://localhost:3000
FRONTEND_SERVER_URL=your_production_frontend_url_here
BACKEND_LOCAL_URL=http://localhost:5000
BACKEND_SERVER_URL=your_production_backend_url_here

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_REDIRECT_URI=http://localhost:5001/api/v1/auth/google/callback

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/mentalcare_db

# Redis
REDIS_URL=redis://localhost:6379

# JWT
JWT_SESSION_SECRET=your_session_secret_key_here_min_32_chars
JWT_SESSION_EXPIRES_IN=15m
JWT_REFRESH_SECRET=your_refresh_secret_key_here_min_32_chars
JWT_REFRESH_EXPIRES_IN=7d

# Bcrypt
BCRYPT_SALT_ROUNDS=12

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100
